<nav class="container ptb-16 ptb-12-sm d-f align-center justify-between">
  <ul class="d-f align-center">
    <li class="mr-48">
      <a href="index.html">
        <img src="/assets/images/logo.svg" alt="logo">
      </a>
    </li>
    <li class="mr-40 d-none-sm">
      <a href="products.html" class="ptb-12">商品列表</a>
    </li>
    <li class="d-none-sm">
      <a href="story.html" class="ptb-12">品牌故事</a>
    </li>
  </ul>
  <a href="#" class="p-12"><i class="bi bi-person"></i></a>
</nav>